<div class="container mt-3">
    <h2>Colleague List</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Name</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Email</th>
                <th>Date Of Joining</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ColleagueData; let i = index;">
                <td>{{ i + 1}}</td>
                <td>{{data.name}}</td>
                <td>{{data.position}}</td>
                <td>{{data.salary}}</td>
                <td>{{data.email}}</td>
                <td>{{data.doj}}</td>
                <td>
                    <div class="d-flex justify-content-center align-items-center">
                        <span> <button type="button" class="btn btn-sm btn-primary me-2" (click)="edit(data)">Edit</button> </span>
                        <span><button type="button" class="btn  btn-sm btn-danger me-2" (click)="delete(data)">Delete </button></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 class="d-flex justify-content-center">Total Rcords :{{ColleagueData.length}}</h5>
</div>